<table class='table condensed'>
<% for (var i = choice.start; i < choice.end; i += 4 ) { %>
    <tr>
        <td class='address color3'><%= _toCurrentAddressRepresentation(i) %></td>
        <td class='val' ><%= _toCurrentDataRepresentation(values[i+choice.delta]) %></td>
        <td class='val'><%= _toCurrentDataRepresentation(values[i+1+choice.delta]) %></td>
        <td class='val'><%= _toCurrentDataRepresentation(values[i+2+choice.delta]) %></td>
        <td class='val'><%= _toCurrentDataRepresentation(values[i+3+choice.delta]) %></td>
    </tr>
<% } %>
</table>
