<table class='table table-condensed'>
    <tr>
        <th>name</th>
        <th>value</th>
    </tr>
    <tbody id='registers-table'>
        <% _.each(registers, function(r){ %>
            <tr>
                <td><%= r.name %></td>
                <td id='R<%= r.name %>' class='val'><%= _toCurrentDataRepresentation(r.value) %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
